*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: Vazirmatn;
	font-weight: normal;
	text-decoration: none;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #f3f4f6;
}

.cursor-pointer {
	cursor: pointer;
}

/** ______________ Main styles ______________ **/

/*! ______________ container ______________ */
.container {
	min-width: 320px;
	max-width: 1440px;
	height: 100vh;
	margin: 0 auto;
	padding: 10px;

	gap: 5px;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

/** ______________  ______________**/

#header {
	width: 100%;
	height: 50px;
	background-color: white;
	border-radius: 8px;
}

#header h1 {
	color: brown;
}

#main {
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;

	background-color: #fff4f8;

	padding: 10px;
}

.main-header {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 40px;
}

.main-header span {
	font-weight: bold;
	font-size: 1.6rem;
}

.main-header :first-child span {
	color: brown;
}

.product-list {
	gap: 10px;
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

.product {
	width: 100%;
	padding: 15px;
	height: 400px;
	max-width: 300px;
	border-radius: 24px;
	background-color: #fff;

	display: grid;
	grid-template-rows: auto 1fr auto;
}

#product__img {
	width: 100%;
	height: 240px;

	object-fit: cover;
	border-radius: 16px;
	object-position: center;
}

.product__header {
	position: relative;
}

.product__body {
	gap: 8px;
	display: flex;
	flex-direction: column;
}

.product__body--title {
	font-size: 16px;
	font-weight: 600;
}

.product__body--discription {
	font-size: 1.2rem;
	color: #606060;
}

.product__badg {
	position: absolute;
	right: 10px;
	top: 10px;

	gap: 4px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row-reverse;
}

.product__badg p {
	padding: 6px 18px;
	font-weight: bold;
	border-radius: 30px;
	color: white;
	backdrop-filter: blur(25px);
	background: #00000033;
	font-size: 1.2rem;
}

.product__badg p:hover {
	background: white;
}

.product__badg span {
	width: 8px;
	height: 8px;
	border-radius: 100%;
	display: inline-block;
	background-color: red;
}

.product__footer {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product__footer--date span {
	font-size: 1.4rem;
	color: #606060;
}

.product__footer--info {
	gap: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product__footer--info span {
	font-size: 1.4rem;
	color: red;
	cursor: pointer;
}

.main-footer {
	height: 40px;
}

#footer {
	width: 100%;
	height: 50px;
}

#footer span {
	font-size: 1.6rem;
	font-weight: bold;
}

/** ______________ Media ______________ **/

@media screen and (max-width: 640px) {
	.product {
		max-width: none;
	}
}

@media screen and (min-width: 640px) {
	.product-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 1024px) {
	.product-list {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 1300px) {
	.product-list {
		grid-template-columns: repeat(4, 1fr);
	}
}
